<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">

  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Register</h2>

              <!--FORM-->
              <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" name="email" />
                    
                    <div *ngIf="registerForm.controls['email'].hasError('pattern')">
                        <label class="text-danger" >
                            Invalid email address. Please enter a valid email address
                        </label>
                    </div> 

                    <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName='password' name="password" />

                    <div *ngIf="registerForm.controls['password'].hasError('pattern')">
                        <label label class="text-danger">Password must have min 8 leters, at least one capitalized letter, at least one letter in small caps, and a number</label>
                    </div>

                    <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg2" class="form-control form-control-lg" formControlName='confirmpassword' name="confirmpassword" />

                  <div *ngIf="registerForm.controls['confirmpassword'].hasError('MustMatch')">
                      <label label class="text-danger">Confirm password must match</label>
                  </div>

                  <label class="form-label" for="form3Example4cg">Confirm Password </label>
                </div>


                <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="registerForm.invalid"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <div class="text-center text-muted mt-5 mb-0">Have already an account? 
                    <a href="/login" class="fw-bold text-body"><u>Login here</u></a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>